@model EmployeeCRUD.Models.EmployeeModel

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <h1>Details</h1>
    <h4>EmployeeModel</h4>
    <hr />
    <div class="row">
        <!-- First Column -->
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EmpNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EmpNumber)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.MiddleName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.MiddleName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </dl>
        </div>

        <!-- Second Column -->
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DateHired)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DateHired)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Designation)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Designation)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Department)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Department)
                </dd>
            </dl>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
